<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.mapper.ModeMapper" >
  <resultMap id="BaseResultMap" type="com.hp.pojo.Mode" >
    <id column="m_id" property="mId" jdbcType="INTEGER" />
    <result column="m_name" property="mName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    m_id,  m_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mode
    where m_id = #{mId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mode
    where m_id = #{mId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hp.pojo.Mode" >
    insert into mode (m_id, m_name
      )
    values (#{mId,jdbcType=INTEGER}, #{mName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hp.pojo.Mode" >
    insert into mode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        m_id,
      </if>
      <if test="mName != null" >
        m_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="mName != null" >
        #{mName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hp.pojo.Mode" >
    update mode
    <set >
      <if test="mName != null" >
        m_name = #{mName,jdbcType=VARCHAR},
      </if>
    </set>
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hp.pojo.Mode" >
    update mode
    set  m_name = #{mName,jdbcType=VARCHAR}
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
</mapper>